@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Work+Sans:wght@700&display=swap');

.maintenance {
    margin-top: 150px;
    margin-left: 60px;
    color: #a1a1a1;
    font-family: 'Lobster', cursive;
}
body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(88,9,121,1) 100%, rgba(0,212,255,1) 100%);
}
.form {
    text-align: center;
    margin-top: 5px;
}
.bg-custom {
    background-color: #784d8c;
}
.nb-logo {
    font-family: 'Lobster', cursive;
}
.acc-card {
    text-align: center;
    margin-top: 10px;
}